* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



figcaption {
    font-size: 12px;
    text-align: right;
    
}

.ingredientes {
    margin-top: 30px;
}



 
li {
    font-size: 16px;
    margin-top: 25px;
    
}   



h1 {
    display: flex;
    justify-content: center;
    color: #1B1B1B;
    font-size: 28px;
    margin-top: 20px;
}



h2 {
    font-size: 20px;
}



body {
    background-color: #FFFFFF;
    text-align: center;
}



.waffle-image img {
    margin-top: 5px;
    padding: 10px;
    height: 500;
    width: 100%;
    border-radius: 20px;
    
}


